body {
  font-family: "Arial";
}

.description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 800px;
  position: relative;
}

.description > p {
  font-size: 18px;
}

.board{
  background-color: #E8E8E8;
  border: 5px solid black;
  border-radius: 5px;
  margin-bottom: 100px;
  perspective: 1000;
  position: relative;
  top: 10%;
  left: 25%;
  height: 560px;
  width: 560px;
}

.board > h2 {
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 30%;
}

.clearfix:after {
   content: " ";  /*Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0px;
   clear: both;
}

.tile:hover {
  cursor: pointer;
}

.tile {
  height: 56px;
  width: 56px;
  transition: 0.6s;
	transform-style: preserve-3d;
  position: absolute;
}

.front, .back{
  border: 3px solid black;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
	left: 0;
  width: 50px;
  height: 50px;
}

.front{
  background-color: gray;
  transform: rotateY(0deg);
}

.front:hover{
  background-color: blue;
}

.back{
  background-color: green;
  transform: rotateY(180deg);
  z-index: 0;
}

.tile.orange .front {
  background-color: orange;
}

.tile.orange .front > h2 {
  position: relative;
  top: -10px;
  left: 19px;
}

.tile.flipped{
  transform: rotateY(180deg);
  cursor: default;
}

.tile.flipped.yellow .back {
  background-color: #FFDD00;
}

.tile.flipped.mined .back {
  background-color: red;
}

.tile.flipped.yellow .back > h2 {
  position: relative;
  top: -8px;
  left: 19px;
}

.tile.flipped.mined .back > h2 {
  position: relative;
  top: -6px;
  left: 19px;
}
